
<!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
<script type="text/javascript" src="/assets/js/md5.min.js"></script>
<div id="gitalk-container"></div>     
<script type="text/javascript">
    var gitalk = new Gitalk({
 
    // gitalk的主要参数
        clientID: '48158780719c70b01d06',
        clientSecret: 'e38799a77e482c4d558c9762e7875cf19869e5d1',
        repo: 'www.blogspace.gq',
        owner: 'gqd000',
        admin: ['gqd000'],
        id: md5(location.pathname),
        
    });
    gitalk.render('gitalk-container');
</script> 

